.btn {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 5px 30px;
    margin: 10px 1px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
}

.btn .btn-round {
    border-radius: 30px;
}

.btn-badge {
    border-radius: 50px;
}
.button-group {
    margin-left: 35px !important;
}

.btn-link {
    box-shadow: none;
}
.btn-block {
    width: 50%;
}

.btn-outline {
    border-color: '#fa5903';
}